:root {
  --btn-bg-grey: rgba(0, 0, 0, 0.4);
  --btn-bg-dark: #000000;
  --btn-act-white: #ffffff;
  --btn-act-yellow: #f3c653;
  --brdr-btn-white: 2px solid #ffffff;
  --brdr-btn-yel: 1px solid #f3c653;
  --brdr-btn-yel-fat: 2px solid #f3c653;
  --font-logo: "Film P3", sans-serif;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Times New Roman", serif;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--font-primary);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

@font-face {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  src: local("Film P3"), url("/fonts/FilmP3Bold.woff") format("woff");
}

/* ---------header--------- */

/* -------------HERO------------- */

.hero {
  max-width: 414px;
  height: 740px;
  padding-top: 181px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../images/hero/hero_homepage_mob.jpg");
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 1023px),
  screen and (min-resolution: 192dpi) and (max-width: 1023px),
  screen and (min-resolution: 2dppx) and (max-width: 1023px) {
  .hero {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url("../images/hero/hero_homepage_mob@2x.jpg");
  }
}

/* tablet screen */
@media screen and (min-width: 1024px) {
  .hero {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url("../images/hero/hero_homepage_tablet.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url("../images/hero/hero_homepage_tablet@2x.jpg");
  }
}

/* tablet screen */
@media screen and (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url("../images/hero/hero_homepage_desktop.jpg");
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url("../images/hero/hero_homepage_desktop@2x.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    max-width: 1024px;
    height: 720px;
    padding-top: 188px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    max-width: 1280px;
    height: 720px;
    padding-top: 164px;
  }
}

.hero-title {
  font-family: "Film P3";
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .hero-title {
    font-size: 128px;
    line-height: 1.08;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    font-family: "Film P3";
    font-size: 128px;
    line-height: 1.08;
  }
}

.hero-undertitile {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 24px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .hero-undertitile {
    line-height: 1.2;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-undertitile {
    margin-top: 32px;
  }
}

.hero-second-undertitile {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-top: 40px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .hero-second-undertitile {
    font-size: 36px;
    line-height: 1.14;
    margin-top: 56px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-second-undertitile {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 145px;
  }
}

.hero-btn-list {
  margin-top: 113px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .hero-btn-list {
    flex-direction: row;
    margin-top: 0;
  }
}

.hero-btn-item {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1023px) {
  .hero-btn-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-btn-item {
    margin-bottom: 0;
  }
  .hero-btn-item:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-btn-item:not(:last-child) {
    margin-right: 60px;
  }
}

.hero-btn {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  padding: 14px 24px;

  border-radius: 25px;
  border: var(--brdr-btn-white);
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-social-list {
  display: flex;
  margin-top: 60px;
}

@media screen and (min-width: 1024px) {
  .hero-social-list {
    display: flex;
    margin-top: 27px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-social-list {
    display: none;
  }
}

.hero-social-item {
  margin-right: 20px;
}

.hero-social-icon {
  fill: rgba(243, 198, 83, 0.7);
}

@media screen and (max-width: 1023px) {
  .hero-map {
    position: absolute;
    top: 64px;
    right: 15px;
    display: flex;
    align-items: center;
    padding: 8px 3px 9px 4px;
    width: 210px;
    height: 47px;
    border: var(--brdr-btn-yel);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-map {
    position: absolute;
    width: 285px;
    height: 56px;
    left: 47px;
    bottom: 64px;
    display: flex;
    align-items: center;
    border: var(--brdr-btn-yel);
    border-radius: 2px;
    padding: 8px 8px 8px 10px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-map {
    left: 85px;
  }
}

.adress-link {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .adress-link {
    font-size: 16px;
    margin-left: 10px;
  }
}
